
<h1>Mes favoris</h1>

<%if @tips.length == 0%>
  <p>No bookmarked posts
  </p>
<%else%>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <%=render collection: @tips, as: :tip, partial: "tips/favtip"%>
  </div>
<%end%>
<div hidden id="myroutedeletefav"><%=deletefav_myfavoritetips_path%></div>
<div hidden id="myroutefav"><%=myfavoritetips_path%></div>
<div hidden id="myroutenote"><%= notes_path%></div><div hidden id="myroutedeletefav"><%=deletefav_myfavoritetips_path%></div>
<div hidden id="myroutefav"><%=myfavoritetips_path%></div>
<div hidden id="myroutenote"><%= notes_path%></div>
<div hidden id="userid"><%=current_user.try(:id)%></div>

<%=paginate @tips%>
