<div id="<%= dom_id tip %>">
  <p>
    <strong>User:</strong>
    <%= tip.user_id %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= tip.title %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= tip.image %>
  </p>

  <p>
    <strong>Content:</strong>
    <%= tip.content %>
  </p>

</div>
